<!-- Intro Section -->
<div class="view jarallax bg-image" data-jarallax='{"speed": 0.2}'>
  <div class="full-bg-img mask rgba-black-light ">
    <div class="container flex-center ">
      <div class="row pt-5 mt-3 w-100">
        <div class="col-md-12">
          <div class="text-center bg-text">
            <img class="center" src="../../assets/profile.jpg" alt="">
            <h2 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s">
              <strong>Baljit S. Singh</strong></h2>
            <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
            <h5 class="font-up mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Angular Developer</strong>
            </h5>
            <div class="intro-icon-set text-center d-flex justify-content-center">
              <a href="https://www.linkedin.com/in/baljit-singh-66673468" target="_blank">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
              <a href="https://www.facebook.com/" target="_blank">
                <i class="fab fa-facebook-square fa-2x"></i>
              </a>
              <a href="" target="_blank">
                <i class="fab fa-twitter-square fa-2x"></i>
              </a>
              <a href="https://github.com/baljit92singh" target="_blank">
                <i class="fab fa-github-square fa-2x"></i>
              </a>
            </div>
            <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
              mdbWavesEffect>portfolio</a>
            <a mdbBtn color="white" outline="true" class="wow fadeInDown waves-light" data-wow-delay="0.4s"
              mdbWavesEffect>About me</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>