<!--Navbar-->
<header>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar grey darken-4"
    [containerInside]="false">
    <logo>
      <a class="logo navbar-brand" scrollTo scrollTargetSelector="#intro">
        <!-- <img src="../assets/hotwaniLogo.svg" height="35" alt=""> -->
      </a>
    </logo>
    <links>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link grey-text waves-effect waves-light" scrollTo scrollTargetSelector="#intro">Home</a>
        </li>
        <!-- <li class="nav-item waves-light">
                  <a class="nav-link grey-text" scrollTo scrollTargetSelector="#solutions">Solutions</a>
              </li> -->
        <li class="nav-item waves-light">
          <a class="nav-link grey-text" scrollTo scrollTargetSelector="#about">About</a>
        </li>
        <li class="nav-item waves-light">
          <a class="nav-link grey-text" scrollTo scrollTargetSelector="#project">Projects</a>
        </li>
        <li class="nav-item waves-light">
          <a class="nav-link grey-text" scrollTo scrollTargetSelector="#blog">My Blog</a>
        </li>
        <li class="nav-item waves-light">
          <a class="nav-link grey-text" scrollTo scrollTargetSelector="#footer">Contact</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>
<!--Main Navigation-->
<div id="intro" ng-class.gt-sm="stretch-screen">
  <app-my-intro></app-my-intro>
</div>
<div id="about" ng-class.gt-sm="stretch-screen">
  <app-my-about></app-my-about>
</div>
<div id="project" ng-class.gt-sm="stretch-screen">
  <app-my-projects></app-my-projects>
</div>
<div id="blog" ng-class.gt-sm="stretch-screen">
  <app-my-blog></app-my-blog>
</div>
<footer ng-class.gt-sm="stretch-screen" id="footer">
  <app-contact></app-contact>
</footer>